<h2>
  User Table
</h2>

<table>
  <tr>
    <th>User name</th>
    <th>User surname</th>
  </tr>
  <tr *ngFor='let user of users'>
    <td> {{ user.firstName }} </td>
    <td> {{ user.lastName }} </td>
  </tr>
</table>

