<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">


<router-outlet></router-outlet>
<app-user-list></app-user-list>
<app-user-table></app-user-table>
</div>